@import "~bootstrap/scss/bootstrap";

.zeiterfassung-input-text-color {
  color: #495057;
}

.zeiterfassung-input-border {
  border: 1px solid #aaa;
}

tfoot {
  background-color: #343a40;
  color: floralwhite;
  font-weight: bold;
}

.v-datetime-input {
  border: 1px solid #aaa;
  //border-color: #aaa;
}